.container {
  background-color: white;
  border-radius: 5vw;  
  box-shadow: 1px 30px 40px -20px rgb(29, 30, 53, 0.6);
  display: flex;
  flex-direction: column;
  margin: 38vw auto 20vw auto;
  padding-bottom: 6vw;
  width: 85vw;
}

@media screen and (min-width: 1024px) {
  .container {
    border-radius: 20px;
    flex-direction: row;
    margin: 150px auto;
    max-height: 700px;
    min-height: 510px;
    overflow: hidden;
    padding: 0;
    width: 930px;
  }
}