.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6vw;
  font-size: 3.5vw;
  color: var(--veryDarkGrayishBlue);
  text-align: left;
}

.faq h1 {
  font-size: 8vw;
  margin: 2.5vw 0;
  color: var(--veryDarkDesaturatedBlue);
  text-align: center;
}

.accordion__question {
  border-bottom: 1px solid var(--lightGrayishBlue);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1vw 0;
}

.accordion.active .accordion__question {
  border-bottom: none;
  color: var(--veryDarkDesaturatedBlue);
  font-weight: 700;
}

.accordion.active .accordion__question p {
  margin-bottom: 0;
}

.accordion__question img {
  height: 1.9vw;
}

.accordion.active .accordion__question img {
  transform: rotate(180deg);
}

.accordion__answer {
  font-size: 3vw;
  line-height: 5.5vw;
  color: var(--darkGrayishBlue);
  display: none;
  border-bottom: 1px solid var(--lightGrayishBlue);
}

.accordion.active .accordion__answer {
  display: block;
}

.accordion.active .accordion__answer h1 {
  color: var(--veryDarkDesaturatedBlue);
}