.faq {
  display: flex;
  color: var(--veryDarkGrayishBlue);
  flex-direction: column;
  font-size: 3.5vw;
  justify-content: center;
  padding: 6vw;
  text-align: left;
}

.faq h1 {
  color: var(--veryDarkDesaturatedBlue);
  font-size: 8vw;
  margin: 2.5vw 0;
  text-align: center;
}

.accordion__question {
  align-items: baseline;
  border-bottom: 1px solid var(--lightGrayishBlue);
  display: flex;
  justify-content: space-between;
  padding: 1vw 0;
  cursor: pointer;
}

.accordion__question:hover {
  color: var(--softRed);
}

.accordion.active .accordion__question {
  border-bottom: none;
  color: var(--veryDarkDesaturatedBlue);
  font-weight: 700;
}

.accordion.active .accordion__question p {
  margin-bottom: 0;
}

.accordion__question img {
  height: 1.9vw;
}

.accordion.active .accordion__question img {
  transform: rotate(180deg);
}

.accordion__answer {
  color: var(--darkGrayishBlue);
  border-bottom: 1px solid var(--lightGrayishBlue);
  display: none;
  font-size: 3vw;
  line-height: 5.5vw;
}

.accordion.active .accordion__answer {
  display: block;
}

.accordion.active .accordion__answer h1 {
  color: var(--veryDarkDesaturatedBlue);
}

@media screen and (min-width: 1024px) {
  
  .faq {
    font-size: 1.2rem;
    padding: 0;
    padding-right: 8rem;
    text-align: left;
    max-width: 410px;
    min-width: 380px;
    position: relative;
    justify-content: flex-start;
  }
  
  .faq h1 {
    font-size: 2.5rem;
    margin-top: 60px;
    text-align: left;
  }
  
  .accordion__question {
    padding: .2rem;
  }
  
  .accordion__question img {
    height: .7rem;
  }
  
  .accordion__answer {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  
  .accordion.active .accordion__answer {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}